* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #3e2f29;
    width: 100%;
 
}

.top-bar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    color: aliceblue;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.news-search {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.news-search a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-right: 20px;
}

.news-search a:hover {
    text-decoration: underline;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    height: 28px;
    padding: 5px;
    margin-right: 5px;
}

.search-box button {
    height: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    height: 16px;
    margin-right: 5px;
}

.menu-background {
    width: 100%;
   
}

.pic {
    width: 100%;
    height: 350px; 
    background-image: url("background2.jpg");
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
}
.menu-background {
    width: 100%;
   
}
.menu {
    background: black;
    height: 50px;
    background-color: #3e2f29;
}

.menu-1 {
    display: flex;
    list-style: none;
}
.menu-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    margin-left: 40px;
    border: 2px solid transparent;

}

.menu-link:hover {
    border-color: white;
    color:#3e2f29;
    background-color: white;
    border-radius: 10px;
}
.tekst-background{
left: 50%;
color: white;
 padding-top: 5%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding-left: 50px;
font-size: 250%;
border: shadowed 2px solid white;
}
.text{
    text-align: center;
}
.mini-tekst{
    font-size: 20px;
    color: white;
}
.tekst-za-nas {
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.zaglavie-za-nas {
    margin-bottom: 0;
    margin-left: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.za-nas {
    margin-top: 30px;
    padding-left: 30px;
}
body
{
       background-color:rgb(230, 224, 217)
}
.box-cont {
    border: 2px solid white;
    border-radius: 15px;
    margin: 30px;
    background-color: white;
    display: flex;
    padding: 30px;
}

.pic-ekip {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.member {
  
    text-align: center;
    width:400px;
    padding-left: 20px;
}
.about-us-pic {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}
.name1 {
    margin-top: 10px;
    font-weight: bold;
    color: #3e2f29;
}
.nashite-idei {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: 20px;
}
footer {
    background-color: #3e2f29;
    color: white;
    padding: 40px 0;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-item{
    display: inline;
    padding-left: 25px;
    margin-left: 20px;
}
.href{
    color: white;
    text-decoration: none;
}
.href:hover{
    text-decoration: underline;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}