* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #3e2f29;
    width: 100%;
 
}

.top-bar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    color: aliceblue;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.news-search {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.news-search a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-right: 20px;
}

.news-search a:hover {
    text-decoration: underline;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    height: 28px;
    padding: 5px;
    margin-right: 5px;
}

.search-box button {
    height: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    height: 16px;
    margin-right: 5px;
}

.menu-background {
    width: 100%;
   
}

.pic {
    width: 100%;
    height:400px;
    background-image: url("beach.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     padding-bottom: 40px;
}
.tekst-background
{
    top: 200px;
    left: 50%;
    color: white;
 padding-top: 5%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
font-size: 250%;
}
.mini-tekst{
  color: white;
  padding-top: 10px;
  padding-left: 50px;
  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
 
}
.fa-facebook {
  background-color:white ;
  color: #3B5998;
  border-radius: 70%;
  
}
.fa-instagram {
  background-color: white;
  color:#E1306C;
  border-radius: 70%;
}
.fa-pinterest {
  background-color: white;
  color: #E60023;
  border-radius: 70%;
}
.socialni-mreji{
    padding-top: 120px;
    padding-left: 50px;
    display: flex;
    gap: 8px;
}
.menu-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    margin-left: 40px;
    border: 2px solid transparent;

}

.menu-link:hover {
    border-color: white;
    color:#3e2f29;
    background-color: white;
    border-radius: 10px;
}

.menu {
    background: black;
    height: 50px;
    background-color: #3e2f29;
}

.menu-1 {
    display: flex;
    list-style: none;
}
.title-trip {
    text-align: center;
    margin: 30px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    padding-top: 35px;
}
.pytuvane-pic{
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
}
.pytuvane-box{
display: inline-block;
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cont-pytuvane{
    flex: 1;
}
.title-nai-cheteni{
 
    padding-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    padding-left: 20px;
  
   
}
.Nai-title{
    padding-bottom: 20px;
    text-align: center;
    padding-left: 30px;
}
.menu-nai-cheteni{
    display: inline-block;
      width: 300px;
    flex-shrink: 0;
    
}
.statiq-pic {
    width: 250px;
    height: 150px;         
    object-fit: cover;     
    border-radius: 6px;
    display: block;

}
.link-style-nai-cheteni {
    display: block;       
    width: 250px;          
    line-height: 1.4;
    text-decoration: none;
    padding-bottom: 30px;
  
}

.main-cont{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    
}
.nai-cheteni{
    width: 300px;
}
.ul-style-nai-cheteni{
    list-style: none;
        padding-left: 80px;

}
.statii{
    margin-bottom: 20px;
   
}
.link-style-nai-cheteni:hover{
color: #3e2f29;
}
.pytuvaniq {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.pytuvane-dolenred{
      display: flex;
    flex-wrap: wrap;
padding-left: 150px;
   
}
.pytuvane-pic {
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
}
footer {
    background-color: #3e2f29;
    color: white;
    padding: 40px 0;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-item{
    display: inline;
    padding-left: 25px;
    margin-left: 20px;
}
.href{
    color: white;
    text-decoration: none;
}
.href:hover{
    text-decoration: underline;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.about-work-culture {
    width: 100%;
    background-color: #fdfaf5;
     padding-top: 40px;      
     padding-left: 20px;   
     padding-right: 20px;   
    padding-bottom: 60px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  margin-right: 20%;
  margin-top: 5%;
  border-radius: 20px;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-left: 10px;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #3e2f29;
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #444;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-item {
    background: white;
    padding: 25px;
    border-top: 4px solid #3e2f29;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
   
}
body{
    background-color:rgb(230, 224, 217)
}
.about-btn{
    border: 1px solid;
     border-radius: 10px;
    height: 30px;
    width: 100px;
 text-align: center;

}
.za-poveche-inf{
    padding-top: 12px;
}
.about-btn:hover{
    background-color: #3e2f29;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.fix-pos{
    padding-top: 10px;
}